@charset "UTF-8";
body{
	background-color: #D8E4EF;
}
h1{
	color: #062F80;
		font-family: "didact-gothic";
}
p{
	color: #051FAC;
	font-family: "didact-gothic";
		font-size: 120%;
		text-align: left;
	}
		
}
jumbotron{
	background-color: lightgray;
	
	
}

